<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelGuide</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">
</head>
<body>

<header>
    <div class="logo">
        <h1>TravelGuide</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="tours">Горящие туры</a></li>
            <li><a href="/countries">Страны</a></li>
            <li><a href="/tickets">Авиабилеты</a></li>
            <li><a href="/contact">Контакты</a></li>
            <li th:if="${#authentication.name != 'anonymousUser'}">
                <a href="/profile">Личный кабинет</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <section class="main-content">
        <div class="text-content">
            <h1>Откройте мир с нами <span>лучшие путешествия</span></h1>
            <p>Ищете незабываемые впечатления? Мы поможем вам найти идеальное место для отдыха — от пляжных курортов до древних городов. Начните свое приключение уже сегодня!</p>

            <div class="auth-buttons" th:unless="${#authentication.name != 'anonymousUser'}">
                <a href="/login" class="btn auth-btn">Войти</a>
                <a href="/register" class="btn auth-btn">Регистрация</a>
            </div>

            <form class="search-form" th:unless="${#authentication.name == 'anonymousUser'}" action="/" method="post">
                <input type="text" name="country" placeholder="Поиск по местам..." th:value="${searchQuery}">
                <button type="submit">Найти</button>
            </form>
        </div>

        <div class="interactive-world">
            <div class="background-elements">
                <div class="ring"></div>
                <div class="stars"></div>
                <div class="orbiting-rings"></div> <!-- Вращающиеся кольца -->
            </div>
            <img src="/images/world.png" alt="World Map" class="world-map">

            <!-- Контейнер с флагами -->
            <div class="flag-orbit">
                <div class="flag flag-1" title="USA"></div>
                <div class="flag flag-2" title="France"></div>
                <div class="flag flag-3" title="Japan"></div>
                <div class="flag flag-4" title="India"></div>
                <div class="flag flag-5" title="Brazil"></div>
            </div>
        </div>

        <div class="meteor-rain">
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div> <!-- Метеоритный дождь -->
        </div>

    </section>
</main>

<section class="card-container">
    <h2>Путешествие по странам</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/819ce0f480d60462f4e7477204f2ec64.jpg" alt="Китай">
                </div>
                <div class="card-content">
                    <h2>Китай</h2>
                    <p>Уникальная культура и история, удивительная природа.</p>
                    <a href="/china" class="btn">Узнать больше</a>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/7c0b21d87940281cc097b5378b6a4078.jpg" alt="Дубай">
                </div>
                <div class="card-content">
                    <h2>Дубай</h2>
                    <p>Современная архитектура и роскошные курорты.</p>
                    <a href="/dubai" class="btn">Узнать больше</a>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/127f99842a7cb77ce752f44645ec2d47.jpg" alt="Египет">
                </div>
                <div class="card-content">
                    <h2>Египет</h2>
                    <p>Cтрана в Северной Африке, известная пирамидами, древними храмами.</p>
                    <a href="/egypt" class="btn">Узнать больше</a>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/d95191f8d314e02a752e6e835e78dd3e.jpg" alt="Италия">
                </div>
                <div class="card-content">
                    <h2>Италия</h2>
                    <p>Cтрана знаменитая искусством, архитектурой и кухней.</p>
                    <a href="/italy" class="btn">Узнать больше</a>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/ko_rea.jpg" alt="Корея">
                </div>
                <div class="card-content">
                    <h2>Корея</h2>
                    <p>Страна с богатой историей, современными городами и пейзажами.</p>
                    <a href="/korea" class="btn">Узнать больше</a>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/spain.jpg" alt="Испания">
                </div>
                <div class="card-content">
                    <h2>Испания</h2>
                    <p>Очарование средиземноморского побережья и богатая культура.</p>
                    <a href="/spain" class="btn">Узнать больше</a>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/paris.jpg" alt="Франция">
                </div>
                <div class="card-content">
                    <h2>Франция</h2>
                    <p>Романтика Парижа и изысканная кухня ждут вас.</p>
                    <a href="/france" class="btn">Узнать больше</a>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/vietnam.jpg" alt="Вьетнам">
                </div>
                <div class="card-content">
                    <h2>Вьетнам</h2>
                    <p>Cтрана с живописными ландшафтами и древними храмами.</p>
                    <a href="/vietnam" class="btn">Узнать больше</a>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/turkiy.jpg" alt="Турция">
                </div>
                <div class="card-content">
                    <h2>Турция</h2>
                    <p>Страна известная культурным наследием, мечетями и пляжами.</p>
                    <a href="/turkey" class="btn">Узнать больше</a>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-image">
                    <img src="/images/tailand.jpg" alt="Тайланд">
                </div>
                <div class="card-content">
                    <h2>Тайланд</h2>
                    <p>Cтрана известная своими пляжами, храмами и богатой культурой.</p>
                    <a href="/thailand" class="btn">Узнать больше</a>
                </div>
            </div>
        </div>

        <div class="swiper-button-container">
          <div class="swiper-button-next"></div>

          <div class="swiper-button-prev"></div>
        </div>

    </div>
</section>

<section id="filtered-tours" class="filtered-section"
         th:if="${#authentication.name != 'anonymousUser'} and ${tours != null}">
    <h2>Найденные туры</h2>
    <div class="card-wrapper" th:if="${not #lists.isEmpty(tours)}" th:each="tour : ${tours}">
        <div class="card">
            <h2 th:text="${tour.touristPlace.country}">Страна</h2>
            <p><span class="icon">✈️</span> <span th:text="${tour.type}">Тип тура</span></p>
            <p><span class="icon">💵</span> Цена: <span th:text="${tour.price}"></span> $</p>
            <p><span class="icon">📅</span> Длительность: <span th:text="${tour.duration}"></span> дней</p>
        </div>
    </div>
    <p th:if="${#lists.isEmpty(tours)}">Туры не найдены.</p>
</section>

<section class="slider">
    <h2>Наши предложения</h2>
    <div class="slides">
        <div class="slide active">
            <img src="/images/1-thailand-900x602_2_w900_h600.jpg" alt="Предложение 1">

        </div>
        <div class="slide">
            <img src="/images/03_view.jpeg" alt="Предложение 2">

        </div>
        <div class="slide">
            <img src="/images/3-1-1024x621.jpg" alt="Предложение 3">

        </div>
        <div class="slide">
            <img src="/images/otdyh-vo-vetname.jpg" alt="Предложение 4">

        </div>
        <div class="slide">
            <img src="/images/shutterstock_429620146.jpg" alt="Предложение 5">

        </div>
    </div>
    <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
    <button class="next" onclick="changeSlide(1)">&#10095;</button>
</section>

<div id="chat-box">
    <div id="chat-header">
        <span>Чат с менеджером</span>
        <!-- Кнопка закрытия чата (крестик) -->
        <button id="chat-close-btn">&times;</button>
    </div>
    <div id="chat-messages"></div>
    <form id="chat-form">
        <input type="text" id="chat-input" placeholder="Напишите сообщение..." required/>
        <button type="submit" id="chat-submit-btn">Отправить</button>
    </form>
</div>
<!-- Кнопка для открытия/закрытия чата -->
<button id="chat-open-btn">💬</button>


<section class="services-section">
    <h2>Наши услуги</h2>
    <div class="services-container">
        <div class="service-card">
            <img src="/images/turism1.jpg" alt="Услуга 1">
            <h3>Корпоративный туризм</h3>
            <p>Организуем корпоративные туры под ключ, учитывая все ваши пожелания. Профессиональные тренинги,
                тимбилдинги и отдых для сотрудников — всё это с учётом вашего графика и бюджета.</p>
        </div>
        <div class="service-card">
            <img src="/images/turism2.jpg" alt="Услуга 2">
            <h3>Авиабилеты на все направления</h3>
            <p>Забронируйте авиабилеты в любую точку мира с нашей помощью. Мы предлагаем выгодные тарифы, гибкие условия
                бронирования и помогаем подобрать оптимальные маршруты для комфортного путешествия.</p>
        </div>
        <div class="service-card">
            <img src="/images/виза.jpg" alt="Услуга 3">
            <h3>Оформление визы</h3>
            <p>Путешествуйте без забот! Мы поможем вам быстро и просто оформить визу в любую страну. Наши специалисты
                окажут полное сопровождение на каждом этапе, от подготовки документов до получения визы.</p>
        </div>
        <div class="service-card">
            <img src="/images/viptour.jpg" alt="Услуга 4">
            <h3>Интересные туры</h3>
            <p>Откройте для себя новые горизонты с нашими захватывающими турами! Мы предлагаем уникальные маршруты для
                тех, кто любит приключения и яркие впечатления.</p>
        </div>
    </div>
</section>


<footer>
    <div class="footer-container">
        <div class="footer-section about">
            <h3>TravelGuide</h3>
            <p>TravelGuide помогает вам находить и бронировать лучшие предложения для путешествий. Откройте для себя мир
                вместе с нами!</p>
            <p>&copy; 2024 TravelGuide | Все права защищены</p>
        </div>

        <div class="footer-section links">
            <h4>Ссылки</h4>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="tours">Горящие туры</a></li>
                <li><a href="/countries">Страны</a></li>
                <li><a href="/tickets">Авиабилеты</a></li>
                <li><a href="/contact">Контакты</a></li>
                <li th:if="${#authentication.name != 'anonymousUser'}">
                    <a href="/profile">Личный кабинет</a>
                </li>
            </ul>
        </div>

        <div class="footer-section contact">
            <h4>Контакты</h4>
            <p>Телефон: +996 504 09 99 00</p>
            <p>Email: travelguide@gmail.com</p>
            <p>Адрес: Бишкек, ул. Уметалиева, 120</p>
        </div>

        <div class="footer-section social">
            <h4>Мы в соцсетях</h4>
            <div class="social-icons">
                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <hr class="footer-line">
    <div class="footer-rights">
        <p>&copy; Все права защищены. Информация сайта защищена законом об авторских правах.</p>
    </div>
</footer>



<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


<script>

    // Получаем элементы
    const chatBox = document.getElementById('chat-box');
    const chatOpenBtn = document.getElementById('chat-open-btn');
    const chatCloseBtn = document.getElementById('chat-close-btn');
    const chatForm = document.getElementById('chat-form');
    const chatInput = document.getElementById('chat-input');
    const chatMessages = document.getElementById('chat-messages');

    // Открытие/закрытие чата при нажатии на иконку
    chatOpenBtn.addEventListener('click', () => {
        if (chatBox.style.display === 'none' || chatBox.style.display === '') {
            chatBox.style.display = 'flex'; // Показываем чат
        } else {
            chatBox.style.display = 'none'; // Скрываем чат
        }
    });

    // Закрытие чата при нажатии на крестик
    chatCloseBtn.addEventListener('click', () => {
        chatBox.style.display = 'none'; // Скрываем чат
    });

    // Отправка сообщения и ответ менеджера
    chatForm.addEventListener('submit', (e) => {
        e.preventDefault(); // Предотвращаем отправку формы
        const message = chatInput.value;

        if (message) {
            // Добавляем сообщение от пользователя
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('user-message'); // Класс для сообщений пользователя
            messageDiv.textContent = message;
            chatMessages.appendChild(messageDiv);

            // Логика ответа менеджера
            let managerMessage = '';

            // Ответы менеджера в зависимости от сообщения пользователя
            if (message.toLowerCase() === 'мне нужна помощь') {
                managerMessage = 'Чем могу вам помочь?';
            } else if (message.toLowerCase() === 'я ищу тур') {
                managerMessage = 'Да, конечно, вы можете просмотреть туры на странице "Горящие туры".';
            } else if (message.toLowerCase() === 'спасибо за помощь!') {
                managerMessage = 'Спасибо за обращение!';
            } else {
                managerMessage = 'Пожалуйста!';
            }

            // Ответ менеджера через 1 секунду
            setTimeout(() => {
                const managerMessageDiv = document.createElement('div');
                managerMessageDiv.classList.add('manager-message'); // Класс для сообщений менеджера
                managerMessageDiv.textContent = managerMessage; // Ответ менеджера
                chatMessages.appendChild(managerMessageDiv);
            }, 1000); // Задержка в 1 секунду для имитации ответа менеджера
        }

        // Очищаем поле ввода
        chatInput.value = ''; // Не скрываем чат автоматически
    });

</script>

<script>
    const swiper = new Swiper('.swiper-container', {
        slidesPerView: 4, // Количество карточек на экране
        spaceBetween: 30, // Расстояние между карточками
        loop: true, // Бесконечный цикл
        autoplay: {
            delay: 3000, // Задержка между прокрутками (в миллисекундах)
            disableOnInteraction: false, // Автопрокрутка не останавливается при взаимодействии
        },
        navigation: {
            nextEl: '.swiper-button-prev', // Стрелка "вперед" (смотрит вправо)
            prevEl: '.swiper-button-next', // Стрелка "назад" (смотрит влево)
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>


</body>
</html>

